<div class="container">

<h2>Add an ingredient to <%= @cocktail.name %></h2>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add an ingredient", class: 'btn btn-primary'%>
  <% end %>
</div>
